{% include "adminPanel/adminHeader.html"%}

{% if user.is_authenticated %}

<div class="d-flex flex-column flex-shrink-0 p-3 col-md">
    <h2>Add Currency</h2>
    <div class="p-4">
      <form method="post">
        {% csrf_token%}
        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Currency:</label>
                <div class="col-sm-auto">
                    <input type="text" class="form-control" name="currencyMain" value="{{curName.currency }}" placeholder="$" maxlength="3">
                    
                </div>
        </div>
        <input type="text" name="editId" value="{{curName.id}}">

        <input type="submit" value="Add Currency"class="btn btn-dark mx-3">
      </form>
    </div>
</div>
{%endif%}

{% include "adminPanel/adminFooter.html" %}