{% include "adminPanel/adminHeader.html"%}

{% if user.is_authenticated %}
    <!-- End Side Bar -->
    <!-- Start Forms Detils -->
      <div class="d-flex flex-column flex-shrink-0 p-3 col-md">
        <h2>Add Product</h2>
        <div class="p-4">
          <form action="">
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">Catogery:</label>
                <div class="col-sm-10">
                  <select name="Catogery" id="" class="form-select form-select-md col-lg-3">
                    <option value=""></option>
                    {%for ct in Cat%}
                    <option value="{{ct.id}}">{{ct.category}}</option>
                    {%endfor%}
                  </select>
                </div>
            </div>

            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">Sub Catogery:</label>
                <div class="col-sm-10">
                  <select name="Catogery" id="" class="form-select form-select-md col-lg-3">
                    <option value=""></option>
                    {%for sub_ct in Sub_Cat%}
                    <option value="{{sub_ct.id}}">{{sub_ct.subCategory}}</option>
                    {%endfor%}
                  </select>
                </div>
            </div>

            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">Brand:</label>
                <div class="col-sm-10">
                  <select name="Catogery" id="" class="form-select form-select-md col-lg-3">
                    <option value=""></option>
                    {%for brd in Brnd%}
                    <option value="{{brd.id}}">{{brd.Brand}}</option>
                    {%endfor%}
                  </select>
                </div>
            </div>
            
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">ProductName:</label>
                <div class="col-sm-auto">
                  <input type="text" class="form-control" name="porduct" value="">
                </div>
            </div>

            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">Currency:</label>
                <div class="col-sm-4">
                  <select name="Catogery" id="" class="form-select form-select-md col-lg-3">
                    <option value=""></option>
                    {%for curr in Cur%}
                    <option value="{{curr.id}}">{{curr.currency}}</option>
                    {%endfor%}
                  </select>
                </div>
            </div>


            <input type="submit" value="Add Product"class="btn btn-dark mx-3">
          </form>
        </div>
        
      </div>
    {%endif%}
{% include "adminPanel/adminFooter.html" %}