{% include "adminPanel/adminHeader.html"%}

{% if user.is_authenticated %}
   
<!-- <div class="d-flex flex-column flex-shrink-0 p-3 col-md"> -->
    <div class="d-flex align-items-center">
        <div class="d-inline-block">
        <h2 class="ml-5">Brands</h2>
        </div>
        <div class="col-5 pl-4">
        <a href="{% url 'addBrand'%}" style="color: #4e6659;">+ Add</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead >
            <tr>
                <th scope="col" style="width: 12px;"></th>
                <th scope="col">ID</th>
                <th scope="col">Brand</th>
                
            </tr>
        </thead>
        <tbody>
           {% for n in allBrand%}
            <tr>
                <td class="text-center" ><a href="{%url 'brdDelete' brdId=n.id%}" class="text-danger">x</a></td>
                <td>{{n.id}}</td>     
                <td>{{n.Brand}}</td>     
            </tr>
            {%endfor%}
        </tbody>

    </table>
    
  </div>
      
{%endif%}
{% include "adminPanel/adminFooter.html" %}