{% include "adminPanel/adminHeader.html"%}

{% if user.is_authenticated %}
   

    <div class="d-flex align-items-center">
        <div class="d-inline-block">
        <h2 class="ml-5">All Products</h2>
        </div>
        <div class="col-5 pl-4">
        <a href="{% url 'addProduct'%}" style="color: #4e6659;">+ Add</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead >
            <tr>
                <th scope="col" ></th>
                <th scope="col" ></th>
                <th scope="col" >ID</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">SUBCATEGORY</th>
                <th scope="col">BRAND</th>
                <th scope="col">PRODUCTNAME</th>
                <th scope="col">POINTS</th>
            </tr>
        </thead>
        <tbody>
           {% for n in allProduct%}
            <tr>
                <td class="text-center"><a href="{%url 'prdDelete' prdId=n.id%}" class="text-danger">x</a></td>
                <td class="text-center" style="width: 12px;" ><a href="{%url 'prdEdit' prdId=n.id%}" class="text-info">Edit</a></td>
                <td>{{n.id}}</td>
                <td>{{n.Category}}</td>
                <td>{{n.subCategory}}</td>
                <td>{{n.Brand}}</td>
                <td>{{n.ProductName}}</td>
                <td>{{n.points}}</td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
    
  </div>
      
{%endif%}
{% include "adminPanel/adminFooter.html" %}